@use "styles/base";

.container {
	width: 100%;
	min-width: base.$container-minWidth;
	padding: 1rem;
	display: flex;
	flex-direction: column;

	h1 {
		margin: 0;
	}

	.divider {
		background-color: black;
		width: 100%;
		border: none;
		height: 4px;
	}

	.line-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	.line-heading {
		font-size: 0.8rem;
		text-transform: uppercase;
		font-weight: 600;
		margin: 0;
	}
	.line-subheading {
		margin: 0;
		font-size: 0.5rem;
		margin-bottom: 1rem;
	}

	.proceed {
		width: 100%;
		background-color: #274eda;
		border: none;
		padding: 1rem;
		color: white;
		font-weight: 500;
		text-transform: uppercase;
	}

	.proceed:hover {
		cursor: pointer;
	}

	.disabled {
		background-color: #c3c3c3;
		cursor: not-allowed !important;
	}
}

@media only screen and (min-width: 960px) {
	.container {
		width: 50%;
	}
}
