@use "styles/base";

@mixin details-heading {
	margin: 0;
	text-transform: uppercase;
}

@mixin details-subheading {
	margin: 0;
	color: rgb(200, 67, 67);
	font-weight: 500;
}

.container {
	width: 100%;
	min-width: base.$container-minWidth;
	padding: 1rem;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	// background-color: red;

	.box-1 {
		width: 100%;
		.heading {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			gap: 0.25rem;
			text-transform: uppercase;
			margin-bottom: 0rem;

			h2 {
				margin: 0;
			}
			h3 {
				font-weight: 500;
				margin: 0;
			}
		}
	}
	.box-2 {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 1rem;
		margin-bottom: 1rem;

		.col-1 {
			width: fit-content;
			.poster {
				background-color: black;
				width: 170px;
				height: 255px;
			}
		}
		.col-2 {
			width: calc(100% - 170px);
			.date {
				margin-bottom: 0.5rem;

				h4 {
					@include details-subheading;
				}

				h5 {
					@include details-heading;
				}
			}

			.time {
				text-transform: uppercase;
				margin-bottom: 0.5rem;

				h4 {
					@include details-subheading;
				}

				h5 {
					@include details-heading;
				}
			}

			.screen {
				text-transform: uppercase;
				margin-bottom: 0.5rem;

				h4 {
					@include details-subheading;
				}

				h5 {
					@include details-heading;
				}
			}

			.language {
				text-transform: uppercase;
				margin-bottom: 0.5rem;

				h4 {
					@include details-subheading;
				}

				h5 {
					@include details-heading;
				}
			}
			.seats {
				text-transform: uppercase;
				margin-bottom: 0.5rem;

				h4 {
					@include details-subheading;
				}

				h5 {
					@include details-heading;
				}
			}
		}
	}
}

@media only screen and (min-width: 960px) {
	.container {
		width: 50%;
		.box-1 {
			justify-content: flex-start;
			gap: 1rem;
			margin: 0;
			margin-bottom: 1rem;

			.col-1 {
				width: fit-content;
				.poster {
					background-color: black;
					width: 170px;
					height: 255px;
				}
			}
		}
	}
}
