.seat {
	width: 14px;
	height: 14px;
	margin: 1.5px;
	border-radius: 0.1rem;
}

.space {
	fill: #ffffff;
}

.read-only {
	cursor: default !important;
}

.available {
	fill: #9ca3af;
	cursor: pointer;
}

.selected {
	fill: #274eda;
	cursor: pointer;
}

.occupied {
	fill: #d81d1d;
	cursor: not-allowed;
}

.unavailable {
	fill: #000000;
	cursor: not-allowed;
}

@media only screen and (min-width: 350px) {
	.seat {
		width: 16px;
		height: 16px;
		margin: 2px;
		border-radius: 0.15rem;
	}
}

@media only screen and (min-width: 420px) {
	.seat {
		width: 20px;
		height: 20px;
	}
}
