@use "styles/base";

.backdrop {
	width: 100vw;
	min-width: base.$container-minWidth;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 99;
}

.foreground {
	width: 80%;
	max-width: 800px;
	border-radius: 0.4rem;
	z-index: 100;

	.content {
		background-color: #fff;
		color: #000;
	}
}
