.backdrop {
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99;
	overflow: hidden;
}

.foreground {
	width: 80%;
	min-width: 300px;
	max-width: 800px;
	height: auto;
	border-radius: 0.4rem;
	z-index: 100;

	.content {
		background-color: #fff;
		color: #000;
		height: fit-content;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
