@use "styles/base";

.container {
	width: base.$container-width;
	background-color: black;
}

.content {
	// overflow: hidden;
	position: relative;
	max-width: calc(base.$container-maxWidth + 500px);
	margin: auto;
	min-height: 400px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
