@use "styles/base";

.container {
	background-color: rgb(29, 29, 29);
	width: base.$container-width;
	max-width: base.$container-maxWidth;
	min-width: base.$container-minWidth;
	height: fit-content;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
