@use "./styles/base";

.container {
	border: 2px solid #414141;
	border-radius: 0.5rem;
	padding: 1rem;

	.top {
		margin-bottom: 1rem;
		h4 {
			font-size: 1rem;
			margin: 0;
			word-break: break-word;
		}

		h5 {
			font-size: 0.6rem;
			margin: 0;
		}
	}

	p {
		font-size: 0.8rem;
		margin: 0;
	}
}

.selected {
	color: #414141;
	cursor: not-allowed;
}

.selectable {
	color: white;
	border-color: white;
}

.selectable:hover {
	cursor: pointer;
	color: #007dd8;
	border-color: #007dd8;
}
